<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'html-head.twig' %}
</head>
<body class="no-tab is-loading">

	<noscript>
		{% include 'noscript.twig' %}
	</noscript>

	{% include 'header.twig' with { nav: primary_nav } %}

	<div id="barba-wrapper" class="relative w-100 h-100 bg-white">
		{% block content %}
		{% endblock %}
	</div>

	{% include 'modal-form.twig' with { shortcode: options.modal_form_shortcode } %}
	{% include 'contact-form.twig' with { shortcode: options.contact_form_shortcode } %}

	<script>
		window.APP = window.APP || {}
		APP.BASE_URL = '{{site.url}}'
		APP.BASE_URL_RELATIVE = '{{site.url|relative}}'
		APP.THEME_URL = '{{site.theme.uri}}'
		APP.AJAX_URL = '{{fn('admin_url', 'admin-ajax.php')}}'
	</script>
	<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  <script src="{{site.theme.link}}/static/bundle.js" defer></script>
	{{wp_footer}}
</body>
</html>
