<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'html-head.twig' %}
</head>
<body class="no-tab">

	<noscript>
		{% include 'noscript.twig' %}
	</noscript>

	{% include 'header.twig' with { nav: primary_navigation } %}

	<div id="barba-wrapper" class="relative w-100 h-100">
		{% block content %}
		{% endblock %}
	</div>

	<script>
		window.APP = window.APP || {}
		APP.BASE_URL = '{{site.url}}'
		APP.BASE_URL_RELATIVE = '{{site.url|relative}}'
		APP.THEME_URL = '{{site.theme.uri}}'
		APP.AJAX_URL = '{{fn('admin_url', 'admin-ajax.php')}}'
	</script>
  <script src="{{site.theme.link}}/static/bundle.js" defer></script>
	{{ wp_footer }}
</body>
</html>
