{% if button_type == 'link' %}
  <a
    class="button js-button io"
    href="{{link.url}}"
    target="{{link.target}}"
  >
    <span>{{link.title}}</span>
  </a>
{% elseif button_type == 'toggle' %}
  <a
    class="button js-button js-form-toggle io"
    href="{{site.link|relative}}/#{{ form_name|length > 1 ? form_name : form_name|first }}"
  >
    <span>{{toggle_label}}</span>
  </a>
{% elseif button_type == 'jump' %}
  <a
    class="button js-button js-jump io"
    href="#simple-cta-form"
  >
    <span>{{toggle_label}}</span>
  </a>
{% endif %}