<section class="newsletter-form">
  <div class="newsletter-form__inner-wrapper io">
    {% filter shortcodes %}
      [contact-form-7 id="168" title="Email Newsletter"]
    {% endfilter %}
  </div>
</section>
<footer class="footer">
  <nav class="footer__nav io">
    {% for item in footer_nav.get_items %}
      {% if item.link|relative == '/#contact' %}
        <a
          class="footer__nav-link js-form-toggle"
          href="{{item.link|relative}}"
        >
      {% else %}
        <a
          class="footer__nav-link"
          {% if item.is_external %}
            href="{{item.link}}"
            target="_blank"
            rel="noopener"
          {% else %}
            href="{{item.link|relative}}"
          {% endif %}
        >
      {% endif %}
        <span>{{item.title}}</span>
      </a>
    {% endfor %}
  </nav>
  <ul class="footer__social io">
    {% if options.fb_link %}
      <li class="footer__social-item">
        <a class="footer__social-link" href="{{ options.fb_link }}" target="_blank" rel="noopener">
          {% include 'icon-facebook.twig' %}
        </a>
      </li>
    {% endif %}
    {% if options.twitter_link %}
      <li class="footer__social-item">
        <a class="footer__social-link" href="{{ options.twitter_link }}"  target="_blank" rel="noopener">
          {% include 'icon-twitter.twig' %}
        </a>
      </li>
    {% endif %}
  </ul>  
  <p class="footer__copyright io">© Spotted. All Rights Reserved.</p>
</footer>