<section class="hero{{ reports_template ? ' hero--reports-template' }}{{ simple_resource_template ? ' hero--simple-resource-template' }}" {% if hero.image and not reports_template %}style="background-image: url({{Image(hero.image).src}})"{% endif %}>
  <div class="hero__inner-wrapper">
    {% if hero.heading %}
      <h1 class="hero__heading io">{{hero.heading}}</h1>
    {% endif %}
    {% if hero.body %}
      <div class="hero__body io">{{hero.body}}</div>
    {% endif %}
    {% include 'button.twig' with {
      button_type: hero.button_type,
      link: hero.link,
      toggle_label: hero.toggle_label,
      form_name: hero.form_name,
    } %}
    {% if reports_template %}
      <div class="hero__image io-img">
        <div class="hero__image-wrapper">
          <img src="{{Image(hero.image).src}}" alt="{{Image(hero.image).alt}}">
        </div>
      </div>
    {% endif %}
  </div>
</section>