<section class="hero">
  <div class="hero__inner-wrapper">
    {% if hero.heading %}
      <h1 class="hero__heading">{{hero.heading}}</h1>
    {% endif %}
    {% if hero.body %}
      <div class="hero__body">{{hero.body}}</div>
    {% endif %}
    {% if hero.button_type == 'link' %}
      <a
        class="button js-button"
        href="{{hero.link.url}}"
        target="{{hero.link.target}}"
      >
        <span>{{hero.link.title}}</span>
      </a>
    {% elseif hero.button_type == 'toggle' %}
      <a
        class="button js-button js-form-toggle"
        href="#contact"
      >
        <span>{{hero.toggle_label}}</span>
      </a>
    {% endif %}
  </div>
</section>