{% extends 'base.twig' %}

{% set hero = post.get_field('hero') %}
{% set section_one = post.get_field('section_one') %}
{% set section_two = post.get_field('section_two') %}

{% block content %}

  {{pages|print_r}}

  <div class="barba-container" data-namespace="simple-resource">
    <main class="content">
      {% include 'hero.twig' with {
        hero: hero,
        simple_resource_template: true
      } %}
      <section class="section">
        <div class="section__row">
          <img class="w-100" src="{{Image(section_one.resource_image).src}}" alt="">
        </div>
      </section>
      <section class="section pb">
        <div class="simple-cta">
          <div
            id="simple-cta-form"
            class="simple-cta__form js-simple-resource-form io"
            {% if section_two.has_download %}
              data-file-url="{{section_two.downloadable_content.url}}"
              data-download-link-label="{{section_two.download_link_label}}"
            {% endif %}
          >
            {% filter shortcodes %}
              {{ section_two.form_shortcode }}
            {% endfilter %}
          </div>
        </div>
      </section>
    </main>
    {% include 'footer.twig' %}
  </div>

{% endblock %}
